{
  "name": "Kodi iOS automated builds (not affiliated with Kodi Team)",
  "subtitle": "Automated builds of Kodi for iOS with GitHub Actions",
  "description": "Provides automated builds of Kodi for iOS with a source you can use for AltStore/SideStore.",
  "website": "https://kodi.tv",
  "featuredApps": [
    "org.xbmc.kodi-ios"
  ],
  "apps": [
    {
      "name": "Kodi iOS",
      "bundleIdentifier": "org.xbmc.kodi-ios",
      "developerName": "Kodi Team",
      "subtitle": "Kodi media center for iOS",
      "localizedDescription": "",
      "iconURL": "https://kodi.tv/images/kodi-logo.svg",
      "tintColor": "#83afe2",
      "category": "utilities",
      "screenshots": [],
      "versions": [
        {
          "version": "%APP_VERSION_STRING%",
          "buildVersion": "%APP_BUILD_NUMBER%",
          "date": "%APP_BUILD_DATE%",
          "localizedDescription": "Whatever the latest build version is.",
          "downloadURL": "https://github.com/ohaiibuzzle/kodi-ios-ipa-builds/releases/latest/download/Kodi-iOS.ipa",
          "size": %APP_SIZE_IN_BYTES%
        }
      ]
    }
  ],
  "news": []
}